.form-field {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  vertical-align: middle;

  &__control {
    grid-area: control;
    order: 0;
    width: 100%;
  }

  &__label {
    grid-area: label;
    flex: 0 0 auto;
    order: -1;
    margin-right: 1rem;
    line-height: 2rem;
  }

  &__error {
    margin-left: calc(200px + 1rem);
    color: #c71585;
    font-size: .875em;
  }

  @at-root .rtl &{
    .form-field__label {
      order: 1;
      margin-right: 0;
      margin-left: auto;
      padding-right: 0;
    }
  }

  &.top {
    align-items: flex-start;
  }

  @at-root .stacked &{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    order: -1;
    margin: .5em 0;
  }
}
