.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  outline: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: #eee;
  }

  &.is-active {
    background-color: #428bca;
    color: #fff;

    &:hover,
    &:focus {
      outline: 1px solid #fff;
      background-color: #327bba;
      color: #fff;
    }
  }

  &.is-partial {
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .3) 49%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
  }
}
