.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  padding: 8px;
  outline: 1px solid #fff;
  user-select: none;
}

.cell.is-active {
  background-color:#428bca;
  color: #fff;
}

.cell:hover {
  background-color:#eee;
}

.cell.is-active:hover {
  background-color:#327bba;
  color: #fff;
  outline: 1px solid #fff;
}
